/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-light {
  --accent-page-image: url("../images/cover-image-light.png");
  --accent-page-bg: #ffedf5;
  --accent-corner: #353430;
  --accent-button: #353430;
  --accent-effect-button: #353430;
  --accent-effect-text: #ff8dcb;
  --accent-streak-elements: #353430;
  --accent-color-text-chadow: #ff8dcb;
  --accent-color-title: #ffc2e6;
  --accent-color-heading-card: #353430;
  --accent-color-heading: #353430;
  --accent-color-block-text: #ff8dcb;
  --accent-color-text: #353430;
  --fond-text: 18px;
  --font-weight-text: 700;
}

.theme-light .circle,
.theme-light .rec-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-page-image: url("../images/cover-image-light.png");
    --accent-page-bg: #ffedf5;
    --accent-corner: #353430;
    --accent-button: #353430;
    --accent-effect-button: #353430;
    --accent-effect-text: #ff8dcb;
    --accent-streak-elements: #353430;
    --accent-color-text-chadow: #ff8dcb;
    --accent-color-title: #ffc2e6;
    --accent-color-heading-card: #353430;
    --accent-color-heading: #353430;
    --accent-color-block-text: #ff8dcb;
    --accent-color-text: #353430;
    --fond-text: 18px;
    --font-weight-text: 700;
  }

  .circle,
  .rec-text {
    display: none;
  }
}
