/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--accent-page-image);
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-block-size: 100vh;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  overflow-x: hidden;
}

.decorated-zone {
  position: relative;
  z-index: 2;
  min-block-size: 100vh;
}

.decorated-zone .circle {
  position: absolute;
  z-index: 2;
  inset-block-start: 28px;
  inset-inline-end: 28px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--accent-color-block-text);
  background-color: var(--accent-color-block-text);
  inline-size: 10px;
  block-size: 10px;
}

.decorated-zone::after {
  content: "";
  inset-block-start: 20px;
  inset-inline-end: 20px;
  position: absolute;
  z-index: 2;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-corner);
  border-inline-end: 1px solid var(--accent-corner);
  background-color: initial;
}

.decorated-zone::before {
  content: "";
  inset-block-end: 20px;
  inset-inline-start: 20px;
  position: absolute;
  z-index: 2;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-corner);
  border-inline-start: 1px solid var(--accent-corner);
  background-color: initial;
}

.rec-text {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 50px;
  font-size: var(--fond-text);
  color: var(--accent-color-block-text);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-inline-end: 12px;
}

.header__theme-menu-button {
  color: var(--accept-streak-elements);
  background-color: inherit;
  border: none;
  font-size: var(--fond-text);
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--accept-streak-elements) 30%, transparent);
  padding: 1px 13px 4px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accept-streak-elements);
  outline: none;
  padding-block-end: 3px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accept-streak-elements);
  padding: 1px 13px 4px;
  pointer-events: none;
}

.header-footer_title {
  color: var(--accent-color-title);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-text);
  text-shadow: 4px 4px 0 var(--accept-color-text-chadow);
  justify-self: start;
  align-self: center;
}

.header_block_text {
  background-color: var(--accent-color-block-text);
  color: var(--accent-color-heading-card);
  font-size: var(--fond-text);
  font-weight: var(--font-weight-text);
  justify-self: end;
  align-self: center;
  max-inline-size: 491px;
  margin: 77px 20px 136px 0px;
}

/* стили для пунктов*/
.title-decor {
  background-color: var(--accent-color-block-text);
  color: var(--accent-color-heading-card);
  font-size: var(--fond-text);
  font-weight: var(--font-weight-text);
}

.text-effect {
  text-shadow: 2px 2px 0 var(--accept-effect-text);
  text-decoration: none;
}

.text-effect:hover {
  border-block-end: 1px solid var(--accept-streak-elements);
}

.text-effect:focus-visible {
  outline: none;
  border: 1px solid var(--accept-streak-elements);
  padding: 2px;
}

.content_bg_color {
  background-color: var(--accent-page-bg);
  min-block-size: 160px;
}

.cards-content-distance {
  padding: 26px 20px;
}

.cards-article_concentration {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title-section {
  color: var(--accent-color-heading);
  font-size: var(--fond-text);
  margin-block-start: 30px;
  margin-block-end: 22px;
  max-inline-size: 314px;
}

.cards-list_concentration {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 34px;
  min-inline-size: 648px;
}

.card-title-block {
  margin-block-end: 10px;
}

.card-text-decor {
  color: var(--accent-color-text);
  font-size: var(--fond-text);
  line-height: 130%;
}

.cards-list_attentiveness {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards-list_recommendations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 26px;
  min-inline-size: 649px;
}

.title-block {
  margin-block-end: 20px;
}

.title-style {
  background-color: var(--accent-color-block-text);
  color: #000;
  font-size: var(--fond-text);
  font-weight: 400;
}

.picture-title-block {
  margin-block-end: 21px;
  margin-block-start: 28px;
}

.picture-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-self: center;
  padding-block-end: 33px;
}

.picture-cards img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.picture-sunset {
  grid-row: 1/2;
  grid-column: 1/3;
}

.picture-cream {
  grid-row: 1/3;
  grid-column: 3/4;
}

.picture-street {
  grid-row: 3/4;
  grid-column: 2/4;
}

.picture-tape {
  grid-row: 2/4;
  grid-column: 1/2;
}

.picture-books {
  grid-row: 2/3;
  grid-column: 2/3;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--accent-page-bg);
  min-block-size: 100vh;
}

.footer-block-title {
  margin-block-start: 27%;
  margin-block-end: 28%;
}

@media (width <= 1024px) {
  .header__theme-menu-list {
    text-align: right;
    flex-direction: column;
    gap: 10px;
  }

  .header__theme-menu-item {
    padding-block-start: 10px;
  }

  .header__theme-menu-button {
    padding: 4px 13px 5px;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
    margin-block-start: 170px;
    margin-block-end: 143px;
  }

  .header_block_text {
    max-inline-size: 364px;
    margin-block-end: 130px;
  }

  .card-title-section {
    max-inline-size: 236px;
  }

  .cards-article_concentration {
    grid-template-columns: 255px 1fr;
  }

  .cards-list_concentration {
    min-inline-size: 0px;
  }

  .cards-list_attentiveness {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
  }

  .card-block-attentiveness {
    max-inline-size: 236px;
  }

  .cards-list_recommendations {
    gap: 22px;
    padding-block-start: 31px;
    min-inline-size: 0;
  }

  .card-block-recommendations {
    min-inline-size: 236px;
  }

  .cards-content-distance {
    padding-block-start: 26px;
  }

  .card-title-block {
    margin-block-end: 8px;
  }

  .picture-title-block {
    margin-block-start: 29px;
  }

  .footer-block-title {
    margin-block-start: 56%;
    margin-block-end: 57%;
  }
}

@media (width<=768px) {
  .header {
    grid-template-rows: 1fr;
  }

  .header-footer_title {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-end: 35px;
    line-height: 82%;
    letter-spacing: -2px;
  }

  .header_block_text {
    margin: 20px 10px 69px;
  }

  .header__theme-menu-list {
    gap: 12px;
  }

  .header__theme-menu {
    margin-block-start: 55px;
    padding-inline-end: 10px;
    margin-block-end: 65px;
  }

  .header__theme-menu-button {
    margin-block-end: -20px;
  }

  .decorated-zone .circle {
    inset-block-start: 18px;
    inset-inline-end: 18px;
  }

  .decorated-zone::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::before {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .rec-text {
    inset-block-start: 10px;
    inset-inline-end: 40px;
  }

  .card-text-decor {
    line-height: 130%;
  }

  .card-title-section {
    max-inline-size: 355px;
  }
  .cards-article_concentration {
    display: block;
  }

  .cards-list_concentration {
    padding-block-start: 0;
    gap: 20px;
  }

  .card-block-attentiveness {
    max-inline-size: 355px;
    padding-block-end: 2px;
  }

  .cards-list_attentiveness {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-title-block {
    margin-block-end: 10px;
  }

  .cards-list_recommendations {
    padding-block-start: 0px;
    gap: 20px;
  }

  .title-block {
    margin-block-end: 20px;
  }

  .cards-content-distance {
    padding: 10px 10px;
  }

  .picture-title-block {
    margin-block-end: 14px;
  }

  .picture-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .picture-street {
    order: 3;
  }

  .footer-block-title {
    margin-block-start: 75%;
    margin-block-end: 67%;
  }
}
