:root {
  --accent-page-image: url("../images/cover-image-dark.png");
  --accent-page-bg: #000028;
  --accent-corner: #ff0070;
  --accent-button: #ff0070;
  --accent-effect-button: #ff0070;
  --accent-streak-elements: #f1b2ce;
  --accent-effect-text: #ff0070;
  --accent-color-text-chadow: #ff0070;
  --accent-color-title: #db00ff;
  --accent-color-heading-card: #000028;
  --accent-color-heading: #ff0070;
  --accent-color-block-text: #ff0070;
  --accent-color-text: #f1b2ce;
}
:root {
  --fond-text: 18px;
  --font-weight-text: 700;
}
